<% content_for :breadcrumb do %>
  <div class="page-title-left">
    <ol class="breadcrumb page-breadcrumb">
      <li><i class="fa fa-home"></i><a href="/">Home</a></li>
      <li><i class="fa fa-angle-right"></i></li>
      <li><a href="<%= banners_path %>">Banners</a></li>
      <li><i class="fa fa-angle-right"></i></li>
      <li class="active">Edit</li>
    </ol>
    <div class="page-header">
      <div class="page-title">Edit Banner: <em><%= @banner.name %></em></div>
    </div>
  </div>
<%end%>

<% content_for :main_body do %>
  <div class="page-content">
    <div class="grid grid-cols-12 gap-4">
      <!-- Stats Sidebar -->
      <div class="col-span-3">
        <div class="bg-zinc-900 border border-zinc-800 rounded-xl p-6 shadow-lg">
          <h2 class="text-xl font-semibold mb-6 flex items-center gap-3">
            <i class="fa-solid fa-chart-line text-zinc-400 text-lg"></i>
            Profile
          </h2>
          <%= render 'stats' %>
        </div>
      </div>
      
      <!-- Form -->
      <div class="col-span-9">
        <%= render 'form_modern' %>
      </div>
    </div>
  </div>
<%end%>
