<% content_for :breadcrumb do %>
  <div class="page-title-left">
    <ol class="breadcrumb page-breadcrumb">
      <li><i class="fa fa-home"></i><a href="/">Home</a></li>
      <li><i class="fa fa-angle-right"></i></li>
      <li><a href="<%= banners_path %>">Banners</a></li>
      <li><i class="fa fa-angle-right"></i></li>
      <li class="active">New Banner</li>
    </ol>
    <div class="page-header">
      <div class="page-title">New Banner</div>
    </div>
  </div>
<%end%>

<% content_for :main_body do %>
  <div class="page-content">
    <%= render 'form_modern' %>
  </div>
<%end%>
